demos_draft/
scripts_draft/
.*
!.gitignore
venv
__pycache__/
.gitignore/
.idea/
__init__.py
plots_style.py
notebooks/demo_data/genderFemale_germany_paetzke2023/rho_vel_headway
notebooks/demo_data/genderFemale_germany_paetzke2023/traj/02_transformation_additional
notebooks/demo_data/genderFemale_germany_paetzke2023/traj/03_transformation_straight
notebooks/demo_data/genderMixedAlternating_palestine_subaih2019/rho_vel_headway
notebooks/demo_data/genderMixedAlternating_palestine_subaih2019/traj/02_transformation_additional
notebooks/analysis.ipynb